.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml
.DS_Store

/build
/captures
.externalNativeBuild
.cxx

**/google-services.json

*.jks
*.keystore
*.pem
*.p12

.env

hs_err_pid*

/info